.teachers__header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
}

.teachers__title {
    margin: 0;
    font-size: 2.25rem;
    color: #b43f12;
}

.teachers__subtitle {
    margin: 0 auto;
    max-width: 40rem;
    font-size: 1.05rem;
    color: #6f3f37;
    line-height: 1.6;
}


