@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    html {
        font-family: Arial, sans-serif;
        font-size: 16px;
    }

    body {
        margin: 0;
    }
}

.welcome {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #0d47a1, #1976d2);
    color: #fff;
}


