.welcome__options {
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    padding: 0 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}


