.students__header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
}

.students__title {
    margin: 0;
    font-size: 2.25rem;
    color: #0b3ba0;
}

.students__subtitle {
    margin: 0 auto;
    max-width: 40rem;
    font-size: 1.05rem;
    color: #38507a;
    line-height: 1.6;
}


